.menu_hover {
    display: flex;
    position: relative;
    display: inline-block;
    
}
.menu_hover .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
.menu_hover .submenu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.menu_hover .submenu a:hover {
    background: #f0f0f0;
}
.menu_hover:hover .submenu {
    display: block;
}

