.login {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрує вміст по вертикалі */
    align-items: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    border-radius: 20px;
    font-weight: 500;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4; /* Легкий фон */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Тінь для візуального ефекту */
  }

  /* Стилі для кнопки */
  .button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 45px; /* Додає відступ зверху */
    font-weight: bolder;
  }

  .button:hover {
    background-color: rgb(100, 100, 100);
  }

  /* Стилі для поля введення */
 .text {
    width: 90%; /* Ширина поля введення на всю доступну ширину */
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 45px; /* Додає відступ зверху */
  }