.head{
    background-color: white;
}
.header1 {
    margin-top: 10px;
    margin-left: 50px;
    height: 25px;
    width: 25px;
}
.header2 {
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}
.header2:hover {
    color: slategray;
}
.header2:active {
    color: darkslategray;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(135, 135, 135, 0.1);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav1 {
    margin-top: 10px;
    margin-left: 45px;
    height: 45px;
    width: 45px;
}
.nav2 {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 25px;
}
.nav2:hover {
    text-decoration: underline;
}
.wyszukaj {
    height: 30px;
    width: 130px;
    margin-right: 10px;
    border: 0px solid rgba(135, 135, 135, 0.2);
    background-color: rgba(135, 135, 135, 0.2);
    border-radius: 40px;
    outline: none;
    padding-left: 10px;
}
.wyszukaj:hover{
    background-color: rgba(90, 90, 90, 0.1);
}
footer {
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 600px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.loginf{
    margin: auto;
    display: grid;
    background-color: whitesmoke;
    width: 30%;
}
